header {
  background-image: url("houston-skyline.jpg");
  background-size: cover;
  height: 300px;
  position: relative; }

.logo img {
  width: 75px;
  background-size: 100px;
  background-color: RGB(36, 31, 32);
  border: solid 4px white;
  border-radius: 50%;
  margin-top: 270px;
  margin-left: 250px;
  position: absolute; }
