@import'reset.scss';
@import'header.scss';

/*********************************************/
/*   WRAPPER SECTION   */
/*********************************************/
.wrapper {
  margin: 0 auto;
  overflow: auto;
  width: 60%; }

/*********************************************/
/*      SIDEBAR  */
/*********************************************/
.sidebar {
  height: 800px;
  width: 20%;
  float: left; }

.sidebar-text {
  padding-top: 60px; }

.sidebar-text h3 {
  color: grey;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize; }

.sidebar-text p {
  color: grey;
  font-family: serif;
  font-size: .75em;
  line-height: 1.25; }

hr {
  width: 85%;
  margin-left: 0; }

.sidebar-text h6 {
  color: grey;
  font-family: sans-serif;
  font-size: .75em; }

/*********************************************/
/*      MAIN    */
/*********************************************/
.main {
  height: 800px;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  width: 70%;
  float: left; }

.main h1 {
  color: gray;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4;
  padding-top: 25px; }

.main h6 {
  color: gray;
  font-family: serif;
  line-height: 1;
  font-size: .75em;
  font-style: italic;
  padding-top: 20px; }

.tiy-campus {
  width: 400px;
  height: 160px;
  overflow: hidden; }

.main img {
  padding-top: 20px;
  width: 100%; }

a:link {
  color: blue; }

a:visited {
  color: blue; }
